*{
 text-align:center;
 }

    img{
width:50%;
border:5px dashed salmon;
cursor:pointer;
box-shadow:5px 5px 20px black;
      }
    
    
    p{
font-style:italic;
     }

    h1{
      color:red;
      }